@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&family=Ibarra+Real+Nova&family=Karla:wght@700&family=Kumbh+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,900&family=Ibarra+Real+Nova&family=Karla:wght@700&family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}

.logo {
    width: 170px;
    height: 33px;
    top: 12px;
}

.menu {
    display: flex;
    list-style: none;
    color: #FFFFFF;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.menu-item {
    color: #FFFFFF;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
}

button {
    line-height: 25px;
    letter-spacing: -0.107143px;
    text-transform: uppercase;
    background: #FFFFFF;
    border-radius: 28px;
    height: 56px;
    width: 140px;
    border: none;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #24303E;
}

.primary-orange {
    background-image: url(../Exercicios-seckim/laranja.png);
    background-size: 100vh no-repeat;
    height: 100vh;
}

h1 {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 69px;
    letter-spacing: 8.75px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
}

.seta {
    width: 30px;
    height: 107px;
    margin-left: 705px;
    margin-top: 90px;
}

.parte-1 {
    display: flex;
}

h2 {
    color: #24303E;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.285714px;
}

p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.128571px;
    color: #808397;
}

.parte-1 button {
    font-family: 'Fraunces 9pt Soft';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 25px;
    color: #24303E;
}

.parte-2 {
    margin-right: 100px;
    margin-left: 165px;
    margin-top: 158px;
}

.parte-2 p {
    margin-top: 32px;
    margin-bottom: 40px;
}

.ovo {
    left: 720px;
    top: 800px;
    width: 100vh;
}
