@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&family=Ibarra+Real+Nova&family=Karla:wght@700&family=Kumbh+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,900&family=Ibarra+Real+Nova&family=Karla:wght@700&family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}

.logo {
    width: 170px;
    height: 33px;
    top: 12px;
}

.menu {
    display: flex;
    list-style: none;
    color: #FFFFFF;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.menu-item {
    color: #FFFFFF;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
}

.contato {
    line-height: 25px;
    letter-spacing: -0.107143px;
    text-transform: uppercase;
    background: #FFFFFF;
    border-radius: 28px;
    height: 56px;
    width: 140px;
    border: none;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #24303E;
}

.primary-orange {
    background-image: url(../exc\ layouts/laranja.png);
    background-size: 100vh no-repeat;
    height: 100vh;
}

h1 {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 69px;
    letter-spacing: 8.75px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
}

.seta {
    width: 30px;
    height: 107px;
    margin-left: 660px;
    margin-top: 90px;
}

.parte-1 {
    display: flex;
}

h2 {
    color: #24303E;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.285714px;
}

p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.128571px;
    color: #808397;
}

.parte-1 button {
    font-family: 'Fraunces 9pt Soft';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 25px;
    color: #24303E;
}

.parte-2 {
    margin-right: 100px;
    margin-left: 165px;
    margin-top: 158px;
}

.parte-2 p {
    margin-top: 32px;
    margin-bottom: 40px;
}

.ovo {
    left: 720px;
    top: 800px;
    width: 50%;
}

.taca {
    width: 50%;
    height: 600px;
}

.parte-3 {
    margin-right: 100px;
    margin-left: 165px;
    margin-top: 158px;
}

.parte-3 p {
    margin-top: 32px;
    margin-bottom: 40px;
}

button {
    line-height: 25px;
    letter-spacing: -0.107143px;
    text-transform: uppercase;
    background: #FFFFFF;
    border-radius: 28px;
    height: 56px;
    width: 140px;
    border: none;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #24303E;
}

.parte-4 {
    display: flex;
}

.cereja {
    background-image: url(../exc\ layouts/cereja.png);
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.parte-4 h3 {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: -0.2px;
    color: #24554A;
    text-align: center;
    margin-top: 398px;
}

.cereja-titulo {
    color: #24554A;
}

.laranja {
    background-image: url(../exc\ layouts/laranja2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.cereja-texto {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.114286px;
    color: #19536C;
    margin-top: 27px;
    width: 50%;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 59px;
}

.laranja-titulo {
    color: #052C3B;
}

.laranja-texto {
    color: #19536C;
    margin-top: 27px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 59px;
}

.perfil {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.img-perfil {
    width: 72px;
    height: 72px;
    align-content: center;
    align-self: center;
}

h4 {
    text-align: center;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 5px;
    color: #A7AAAD;
    margin-top: 160px;
}

.owners {
    display: flex;
    justify-content: space-around;
    align-self: center;
    margin-top: 81px;
    align-items: center;
    margin: 165px;
    align-content: center;
}

.texto-perfil {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #5B636D;
    margin-bottom: 69px;
    margin-top: 58px;
}

.nomes-perfil {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #24303E;
}

.cargo-perfil {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #A7AAAD;
    margin-top: 9px;
}

.imagens {
    display: flex;
}

.imagens2 {
    width: 25%;
}

footer {
    margin-top: 0px;
    text-align: center;
    background: #90D4C6;
    width: 100%;
    height: 350px;
}

.logo2 {
    margin-top: 72px;
}

.menu2 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #458D7E;
    display: flex;
    list-style: none;
    gap: 57px;
    justify-content: center;
    margin-top: 40px;
}

.link {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #458D7E;
    text-decoration: none;
}

.redessociais {
    display: flex;
    margin-top: 88px;
    justify-content: center;
}

.img-social {
    margin-left: 28px;
}
